/*Twitter Feed Graphic*/
a[href="http://twitter.com/reddit_ucsb"]:after {
    width: 68px;
    height: 16px;
    content: "";
    background-image: url(http://thumbs.reddit.com/t5_2shs9_0.png);
    background-position: -0px;
    display: inline-block;
    cursor: pointer;
    position: relative
    }
/*replace "readers" with gauchos*/
div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    content: " Gauchos"
    }
/*Flair Classes*/
.flair-mod {
    content: ""
    }
.flair-mod:before {
    content: "";
    text-align: right;
    float: left;
    width: 16px;
    height: 16px;
    background: transparent url(http://thumbs.reddit.com/t5_2shs9_2.png) center center no-repeat
    }
.flair-tweetposter {
    border: 0;
    padding: 0;
    background: transparent url(http://thumbs.reddit.com/t5_2shs9_1.png) center center no-repeat;
    height: 16px;
    width: 16px;
    text-indent: -9999px
    }
/* Flair */
.linkflair-gold .title {
    background-color: gold
    }
