/*Twitter Feed Graphic*/
a[href="http://twitter.com/reddit_ucsb"]:after {
    width: 68px;
    height: 16px;
    content: "";
    /* background-image: url(http://thumbs.reddit.com/t5_2shs9_0.png); */
    background-position: -0px;
    display: inline-block;
    cursor: pointer;
    position: relative
    }
/* Disable create and submit */
.side .sidebox.create, .side .sidebox.submit {
    display: none
    }
/* replace "readers" with gauchos */
.subscribers span.word {
    display: none
    }
.subscribers span.number:after {
    content: " gauchos subscribed"
    }
/* replace "users here now" with "guachos online" */
.users-online span.word {
    display: none
    }
.users-online span.number:after {
    content: " gauchos online in the last 15 min"
    }
/*Flair Classes*/
.flair-mod:before {
    content: "";
    text-align: right;
    float: left;
    width: 16px;
    height: 16px;
    /* background: transparent url(http://thumbs.reddit.com/t5_2shs9_2.png) center center no-repeat */
    }
.flair-tweetposter {
    border: 0;
    padding: 0;
    /* background: transparent url(http://thumbs.reddit.com/t5_2shs9_1.png) center center no-repeat; */
    height: 16px;
    width: 16px;
    text-indent: -9999px
    }
/* Flair */
.linkflair-gold .title {
    background-color: gold
    }
