@import "colors/ucsb";

$day: true;

$sky_color: lighten(#87CEFA, 10%);

$header_image_alien: url(%%alien-header-background-temp%%);
$header_background_color: darken(#0062da,10%);
$header_content_border_color: #5F99CF;

$subreddit_bar_color: #2D2D2D;
$subreddit_bar_seperator_color: gray;
$subreddit_bar_link_color: #CCC;

$userbar_color: $ucsb_blue;

$sidebar_header_color: $header_background_color;

$storke_top_img: url(%%storke-top%%);
$storke_middle_img: url(%%storke-middle%%);

$item_visited_color: #551A8B;
$item_unvisited_color: #0039A6;

$user_link_color: #369;
$plain_text_color: black;

