@import "colors/ucsb";

$day: false;

$sky_color: darken(#87CEFA, 70%);

$header_color: darken(#0062da,25%);

$subreddit_bar_color: #2D2D2D;
$subreddit_bar_seperator_color: darken(gray, 40%);
$subreddit_bar_link_color: #CCC;

$userbar_color: $ucsb_blue;

$content_and_sidebar_background_color: darken(white, 70%);
$content_and_sidebar_border_color: darken(desaturate(#fff8e7, 80%), 80%);

$storke_top_img: url(%%storke-top-night%%);
$storke_middle_img: url(%%storke-middle-fullbright%%);

$item_visited_color: lighten(#6082B6, 20%);
$item_unvisited_color: lighten(#6082B6, 35%);

$user_link_color: lighten(#369, 10%);
$plain_text_color: lighten(gray, 25%);
