@import "colors/ucsb";

$day: false;

$sky_color: #081327;

$header_image_alien: url(%%alien-header-background-temp%%);
$header_background_color: darken(#0062da, 25%);
$header_content_border_color: darken($header_background_color, 10%);

$subreddit_bar_color: #2D2D2D;
$subreddit_bar_seperator_color: gray;
$subreddit_bar_link_color: #CCC;

$userbar_color: $ucsb_blue;

$sidebar_header_color: $header_background_color;

$storke_top_img: url(%%storke-top-night%%);
$storke_middle_img: url(%%storke-middle-fullbright%%);

$item_visited_color: gray;
$item_unvisited_color: $ucsb_blue;

$user_link_color: #369;
$plain_text_color: black;
