@import "colors/night";

$content_and_sidebar_background_color: #222;
$content_and_sidebar_text_color: #ddd;

$content_thumbnail_background_color: #ddd;

$submit_base_color: #AAA;
$submit_text_color: $user_link_color;

$subreddit_bar_color: darken(#2D2D2D, 10%);
$subreddit_bar_link_color: #aaa;

$userbar_color: darken($ucsb_blue, 10%);

$tab_background_color: $ucsb_gold;
$tab_color: $ucsb_blue;
