// This mixin is required to customize the top level element which unfortunately cannot be mixed in the normal way.

@mixin body-style {
    background-color: $sky_color !important;
    background-image: $storke_middle_img !important;
    background-repeat: repeat-y;
    background-position: 100% 35px;
}
