/* Minor tweaks by sifarat.  Code ripped from Afrael @ /r/singing - /r/apple /r/steelers, /r/firefly, /r/gameofthrones, /r/asoiaf, /r/musicmods, /r/askscience. Divider style picked up from /r/firefly. Thanks to whoever first came up with the code, which allowed css-impaired people like me to fiddle with everything without breaking too much :). Where possible I've contributed the code, but I messed with it so much that for some bits I'm not really sure where it came from anymore. */
/*RES/GOLD FIXES by gavin19*/
.res-nightmode .toggle .option, .res-nightmode #sr-header-area a, .res-nightmode .side p, #header-bottom-right a {
    color: black !important
    }
.side .md p {
    padding: 10px;
    text-shadow: 1px 1px #f9f9f9;
    color: #000
    }
.side .md ul {
    padding: 6px;
    text-shadow: 1px 1px #f9f9f9;
    color: #000;
    list-style: decimal outside none
    }
.res-nightmode .leavemoderator-button span.option.active {
    color: #ddd !important
    }
.res-nightmode .leavemoderator-button span.option.active a {
    color: #bbb !important
    }
.res-nightmode .side .morelink a {
    color: #eee !important;
    text-shadow: inherit
    }
.res-nightmode .side a {
    color: navy !important;
    text-decoration: underline
    }
.res-nightmode .sidecontentbox a {
    color: #ddd !important
    }
.res-nightmode .sidecontentbox {
    padding: 10px;
    border: 1px solid #AAA;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }
.res-nightmode .sidecontentbox * {
    background-color: #111 !important;
    color: #ddd !important
    }
.keyHighlight {
    outline: 1px dashed #BBB !important;
    background-color: #F8F8F8 !important
    }
.link.last-clicked {
    border: none
    }
body {
    background-color: #fafafa
    }
div.content {
    margin-top: 10px
    }
/*subscriber button*/
.fancy-toggle-button .remove, .fancy-toggle-button .add {
    border: 1px solid #AAA;
    background-image: url(http://c.thumbs.redditmedia.com/hJAsQ-gz2BST9UJz.png);
    background-position: 0 -127px;
    color: #6f6f82;
    text-shadow: 0 1px 0 white
    }
/*
 *	Feel free to copy this CSS in your music subreddit stylsheet.
 *      You may want to copy the hierarchy of the sidebar as well, or part of it.
 */
/* Sidebox */
.sidecontentbox {
    background: url(http://c.thumbs.redditmedia.com/xAIb0gZY8ioBTavh.png) repeat transparent !important;
    padding: 10px;
    border: 1px solid #AAA;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }
.sidecontentbox h1 {
    color: #444;
    font-size: small;
    text-transform: none
    }
.sidecontentbox ul.content {
    background: url(http://c.thumbs.redditmedia.com/xAIb0gZY8ioBTavh.png) repeat transparent !important;
    border: 0
    }
.sidecontentbox ul.content li {
    font-size: small;
    margin-bottom: 2px
    }
.icon-menu a {
    background-color: transparent
    }
.titlebox {
    padding: 10px;
    background: url(http://c.thumbs.redditmedia.com/xAIb0gZY8ioBTavh.png) repeat transparent !important;
    border: 1px solid #AAA;
    color: #777;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }
.titlebox .bottom {
    border: 0
    }
.titlebox form.toggle {
    background-color: transparent
    }
.titlebox .usertext {
    margin: 15px 0;
    line-height: 120%;
    font-size: small
    }
.titlebox .usertext .md {
    margin: 0;
    padding: 0;
    overflow: visible
    }
.titlebox .usertext .md h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333
    }
.titlebox .usertext .md > h1 {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #33CC66;
    color: #FFF;
    padding: 5px 10px;
    padding-left: 20px;
    padding-right: 0;
    margin-right: 13px;
    margin-left: -18px;
    border-bottom: 1px solid #2AB256;
    margin-bottom: 5px;
    margin-top: 10px;
    z-index: 100
    }
/*Witchcraftery. Burn ! Burn! */
.titlebox .usertext .md > h1:after {
    display: block;
    content: "";
    border-color: transparent #009933 transparent transparent;
    border-style: solid;
    border-width: 15px;
    height: 0px;
    width: 0px;
    position: absolute;
    z-index: -1;
    margin-left: -35px;
    margin-top: -10px
    }
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    font-size: medium;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    border: 0
    }
/*SIDEBAR */
.titlebox blockquote {
    border: 1px solid #AAA;
    text-shadow: 0 1px 0 white;
    color: #777;
    font-weight: bold;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }
.titlebox form.leavecontributor-button {
    background: transparent
    }
.titlebox form.leavemoderator-button {
    background: transparent
    }
.titlebox form.flairtoggle {
    background: transparent
    }
.side {
    background: transparent
    }
.sidecontentbox .content, .linkinfo, .footer {
    background: url(http://c.thumbs.redditmedia.com/xAIb0gZY8ioBTavh.png) repeat transparent !important;
    border: 1px solid #AAA;
    margin: 7px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
    }
.link.last-clicked {
    overflow: hidden
    }
.linkinfo {
    margin-bottom: 10px
    }
.titlebox h1 a {
    display: none
    }
div.side {
    background-color: #fafafa
    }
#adlink {
    background: transparent
    }
#adlink {
    background: transparent
    }
/*submit/create links*/
.morelink, .morelink:hover {
    display: block;
    text-align: center;
    position: relative;
    border: none;
    background: white none repeat-x scroll center left;
    background-image: url(http://c.thumbs.redditmedia.com/hJAsQ-gz2BST9UJz.png);
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #AAA
    }
.morelink:hover a {
    color: #444
    }
.morelink a {
    color: #36568F;
    text-shadow: #FFF 0px 1px 0px
    }
.morelink .nub {
    display: none
    }
.sidebox .spacer, .icon-menu a {
    background-color: transparent
    }
#header-img {
    bottom: -8px;
    position: relative;
    margin-right: 25px;
    margin-top: 0;
    padding-left: 2px
    }
#sr-header-area {
    background-color: #CCCCCC;
    font-size: 92%;
    text-shadow: 0px 1px #EEEEEE;
    font-family: helvetica, arial
    }
#sr-more-link {
    background-color: peru;
    border-radius: 9px;
    color: white;
    font-weight: normal;
    padding: 2px 5px 3px 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 1px;
    width: 58px
    }
#sr-header-area .selected a {
    background-color: #f9f9f9;
    border-radius: 9px;
    color: black;
    font-weight: normal !important;
    padding: 2px 5px 2px 5px;
    right: 0;
    text-align: center;
    top: 1px;
    letter-spacing: 2px
    }
#header {
    border-bottom: 1px solid #ccc;
    position: relative;
    background-color: #999999;
    z-index: 99
    }
#header-bottom-left {
    background: url(http://a.thumbs.redditmedia.com/rtgd7Pm1QQfbfWLl.png);
    background-repeat: repeat-x;
    background-color: green
    }
.link.odd, .linkcompressed.odd {
    background: none repeat scroll 0 0 #F5F5F5 !important;
    border-bottom: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1
    }
.link.even, .link.odd {
    padding: 10px 0;
    margin-right: 310px !important
    }
.thumbnail {
    float: left;
    margin: 0 5px;
    overflow: hidden
    }
#header-bottom-right {
    background-color: #F1F1F1
    }
.tabmenu li a {
    background-color: #F1F1F1
    }
.tabmenu li.selected a {
    border-color: #CCCCCC #CCCCCC white
    }
.titlebox .bottom {
    margin-top: 10px
    }
.side .md li {
    margin-bottom: 7px
    }
.md p {
    line-height: 18px
    }
.link {
    font-family: Arial;
    text-shadow: 0 1px 0 #FFFFFF
    }
a.title {
    font-size: 18px !important
    }
.thing .title {
    color: black
    }
.thing .title.loggedin {
    color: black
    }
.flair {
    background: none repeat scroll 0 0 #DEDEDE;
    border-radius: 5px;
    color: green;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 1px 3px;
    text-transform: uppercase
    }
.sidecontentbox .content li {
    padding: 5px 0px 5px 1px
    }
.titlebox .bottom {
    display: none
    }
.pagename a {
    color: white
    }
/* replace 'readers' with 'singers'*/
div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    text-shadow: 1px 1px #f9f9f9;
    color: #000;
    content: " Moderators "
    }
/*announcement sticky*/
div.content {
    /*This lowers the links to create space*/
    margin-top: 50px
    }
.titlebox form {
    /*Hack to enable repositioning of child elements*/
    position: static
    }
.side h3:nth-of-type(1) {
    /*this code positions the sticky*/
    position: absolute;
    display: block;
    top: 56px;
    left: 40px;
    /*this code styles the sticky*/
    background-color: #f1f1f1;
    color: #555555;
    text-align: left;
    margin: 25px;
    border-radius: 8px;
    width: 60%;
    padding: 12px 0px 7px 40px;
    /*this code creates the image*/
    background-image: url(http://c.thumbs.redditmedia.com/3YhuyZBKYfloixEt.png);
    background-repeat: no-repeat;
    background-position: left;
    font-size: 12px !important;
    font-weight: normal !important;
    height: 18px;
    text-shadow: 1px 1px #dedede, 1px 1px #eee
    }
.over18.link {
    background: none repeat scroll 0 0 #FFD0D6 !important;
    border-bottom: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1
    }
a[href*="/featured"].title:link {
    color: #D78336;
    font-weight: bold;
    text-shadow: 1px 1px #fff !important;
    background-image: url(http://e.thumbs.redditmedia.com/7_ouqCcex0_s3efv.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    line-height: 25px
    }
a[href*="/featured"].title:visited {
    color: #D78336 !important;
    font-weight: bold;
    text-shadow: 1px 1px #fff !important
    }
a[href*="/motm"].title:link {
    color: #D78336;
    font-weight: bold;
    text-shadow: 1px 1px #fff !important;
    background-image: url(http://e.thumbs.redditmedia.com/7_ouqCcex0_s3efv.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    line-height: 25px
    }
a[href*="/motm"].title:visited {
    color: #D78336 !important;
    font-weight: bold;
    text-shadow: 1px 1px #fff !important
    }
a[href*="/note"].title:link {
    color: #D78336;
    font-weight: bold;
    text-shadow: 1px 1px #fff !important;
    background-image: url(http://c.thumbs.redditmedia.com/5lTr_27Uq6hDHvgP.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    line-height: 25px
    }
a[href*="/note"].title:visited {
    color: #D78336 !important;
    font-weight: bold;
    text-shadow: 1px 1px #fff !important
    }
/* search ripped from /r/apple */
#search input[type="text"] {
    font-size: 14px;
    width: 267px !important;
    height: 73px !important;
    margin: -15px 0px -17px -1px !important;
    padding: 0px 0px 0px 35px !important;
    outline: none;
    background: url(http://e.thumbs.redditmedia.com/3NF110xKi4OVx7wv.png) no-repeat transparent !important;
    border: none !important;
    border-style: hidden;
    border-width: 0px
    }
/* search ends here  all hail /r/apple */
